/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */

/*border:none;ody{
        max-width:100% !important;
    }*/

    .backsplash {
        background-image:url('..app/assets/images/moto.jpg');
        background-size:cover;
        background-position:center;
        height:89vh;
        width:96vw;
        background-position: center;
/*        margin-bottom:50px;*/
    }

    .logo{
        height:18vh;
        margin-top:10px;
        text-align:center;
    }

    /* navbar */
    
    .navbar-default{
        box-shadow: none;
        -webkit-box-shadow:none;
        border:none;
        max-height:75px;
    }

    ul, li {
        text-decoration: none;
        list-style: none;
        font-family: sans-serif;
        font-size:9px;
        text-transform:uppercase;
        letter-spacing:2px;
        line-height:75px;
        text-align: center;
        color:#d7c8a1 !important;
    }

    a, a:visited {
        color:#d7c8a1;
        text-decoration:none;
    }

    a:hover{
        color:#d7c8a1;
        text-decoration:none;
    }


    li#navlogo{
        background-image:url('..app/assets/images/LOGO.png');
        background-size:contain;
        background-repeat:no-repeat;
        background-position: center;
        height:75px;
        width:150px;
        margin:0 auto;
    }


    /* promise section */

    #promise{
        margin-left:0 !important;
        margin-right:0 !important;
        padding-left:0 !important;
        padding-right:0 !important;
        width:97vw;
        padding-top:10px;
        margin-bottom:70px;
    }

    #promise > .row {
        margin-left:0 !important;
        margin-right:0 !important;
        padding-left:0 !important;
        padding-right:0 !important;
    }

    #mission{
        width:100vw;
        background-color:#f6f7f8;
        margin-bottom:70px;
        margin-top:15px;
    }

    p.mission{
        font-family:sans-serif;
        color: #6F6D6A;
        padding-bottom:70px;
        padding-top:20px;
        font-size:12px;
        letter-spacing: 1px;
        text-align: center;
        line-height: 1.53em;
        margin-bottom:20px;
    }

    .title{
        text-transform:uppercase;
        font-family: 'Playfair Display', serif;
        font-size:15px;
        letter-spacing:2px;
        padding-top:70px;
        margin-top:20px;
        margin-bottom:20px;
    }

    div.about1{
        /*background-color:#d7c8a1;*/
        background-image:url('..app/assets/images/dress.jpg');
        background-size:cover;
        background-repeat:no-repeat;
/*        background-position-x:-100px;*/
        height:550px;
        width:98%;
        display:inline-block;
        padding: 50px;        
        float:left;
        padding-top:150px;
     }

    div.about2{
        background-image:url('..app/assets/images/scenic.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position-y: -20px;
        /*background-position-x: -100px;*/
        height:268px;
        float:right;
        opacity:1;
        width:99%;
        display:inline-block;
        margin-bottom:15px;
    }

    div.about3{
        background-image:url('../img/AnthonyKeeley.jpg');
        background-size:cover;
        background-repeat:no-repeat;
/*        background-position-y: -50px;*/
        height:267px;
        float:right;
   /*     opacity:.5;*/
        width:99%;
        display:inline-block;
    }

    .about1 > p {
        padding-left:100px;
        padding-right:100px;
        text-align: center;
    }

    .about4 > p {
        padding-left:100px;
        padding-right:100px;
        text-align: center;
    }
    
    #a4{
        font-family: 'Playfair Display', serif;
        font-size:14px;
        text-transform: uppercase;
        letter-spacing:2px;
        line-height:1.5em;
        margin-bottom:0 !important;
    }

    .line{
        padding-bottom:10px;
    }

    .services{
        font-family: sans-serif !important;
        font-size: 9px !important;
        letter-spacing:1px;
        text-transform: uppercase;
        line-height:2em;
        text-align: center;
    }

    .red{
        padding-left:0 !important;
        padding-right:0 !important;
    }

    .orange{
        padding-left:0 !important;
        padding-right:0 !important;
    }


    .yellow{
        padding-left:0 !important;
        padding-right:0 !important;
    }

   
    /* about keeley section */

    p.title{
        color:white;
        font-family: verdana;
        letter-spacing: 1px;
        font-size: 10px;
        text-transform: uppercase;
        margin-top:50px;
        padding:20px;
        border:1px solid white;
        display:inline-block;
    }

    .aboutk{
        width:100vw;
        background-color:#f6f7f8;
        padding-bottom: 60px;
    }

    /* CONTACT FORM */

    #contact{
        width:100%;
        height:75vh;
        margin-bottom:30px;
        margin-top:30px;
    }

    /* blog reads */

    section.blogreads {
    width:100vw;
    }

    .blogreads{
        padding-top:100px;
    }

    .titleblog{
        text-transform:uppercase;
        font-family: 'Playfair Display', serif;
        font-size:15px;
        letter-spacing:2px;
        padding-bottom:20px;

    }

    .missionblog{
        font-family:sans-serif;
        color: #6F6D6A;
        font-size:12px;
        letter-spacing: 1px;
        text-align: center;
        line-height: 1.53em;
    } 

    #passion{
        margin-top:13px;
    }

    #a{
        width:350px;
        height:300px;
    }

    #b{
        width:350px;
        height:350px;
    }

    #c{
        width:350px;
        height:350px;
    }


.posttitle{
        font-family: 'Playfair Display', serif;
        letter-spacing: 1px;
        text-align:center;
        font-size: 14px;
        text-transform: uppercase;
        margin-top:30px;
/*        padding:20px;*/
 /*       border:1px solid white;
*/      display:inline-block;
        width: 350px;
}

#breakimg{
    margin-top:150px;
    background-image:url('..app/assets/images/leaf.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:-200px;
    height:300px;
    width:100vw;
}

.inspo {
    font-family:sans-serif;
    text-transform: uppercase;
    text-align:center;
    font-size:10px;
    letter-spacing:2px;
    height:40px;
    width:150px;
    border:1px solid white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.inspo>p{
    line-height:30px;
    height:29px;
    width:140px;
    opacity:1;
    color:gray;
    border:1px solid white;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    position:absolte;
    margin-top:5px;
}

#containerbreak{
    margin:0;
}


.wrap {
    max-width: 960px;
}

section.contact{
    width:100vw;
    height:100vh;
}

/* FOOTER */

footer{
height: 100px;
width:100vw;
background-color:#f6f7f8;
font-family: sans-serif;
margin:0;
}

.footername{
    font-size:9px;
    text-transform:uppercase;
    letter-spacing:1px;
}

.social{
    float:right;
    line-height:100px;
}

/* CONTACT FORM */

.contact-form {
        height: 100%;
    }

.contact-form .clear-form {
    clear: both
}

.contact-form input[type=email], .contact-form input[type=text] {
    width: 300px;
    max-width: 98%;
    margin-bottom: 13px
}

.contact-form select {
    margin-bottom: 13px
}

.contact-form textarea {
    height: 200px;
    width: 80%;
    float: none;
    margin-bottom: 13px
}

.contact-form input[type=checkbox], .contact-form input[type=radio] {
    float: none;
    margin-bottom: 13px
}

.contact-form label {
    margin-bottom: 3px;
    float: none;
    font-weight: 700;
    display: block
}

.contact-form label.checkbox, .contact-form label.radio {
    margin-bottom: 3px;
    float: none;
    font-weight: 700;
    display: inline-block
}

.contact-form label span {
    color: #AAA;
    margin-left: 4px;
    font-weight: 400
}

.contact-form-submission {
    margin-bottom: 4em;
    padding: 1.5em 1em
}

.contact-form-submission p {
    margin: 0 auto
}

.form-errors .form-error-message {
    color: red
}

.textwidget .contact-form input[type=email], .textwidget .contact-form input[type=text],
.textwidget .contact-form textarea {
    width: 250px;
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/*Home contact section*/

.wpcf7 .contact-input input, .wpcf7 textarea.wpcf7-form-control.wpcf7-textarea {
    border: 2px solid #333;
    margin-bottom: 13px;
    padding: 9px 10px;
    background: none;
}

.wpcf7 input.wpcf7-form-control.wpcf7-text {
    width: 32.7%;
    float: left;
    margin-right: 1.3%;
}

.wpcf7 .your-subject input.wpcf7-form-control.wpcf7-text {
    width: 32%;
    float: right;
    margin-right: 0;
}

.wpcf7 div#messagearea {
    width: 100%;
}

.wpcf7 textarea.wpcf7-form-control.wpcf7-textarea {
    height: 200px;
    resize: none;
    margin-bottom: 5px;
    width: 100%;
}

.wpcf7 #messagesubmit {
    width: 100%;
}

.wpcf7 input.wpcf7-form-control.wpcf7-submit {
    width: 100%;
    background: none;
    color: #333333;
    border: 2px solid #333;
    padding: 8px;
}

.wpcf7-response-output, .wpcf7-display-none, .wpcf7-validation-errors {
    border: none !important;
}

span.wpcf7-not-valid-tip {
    display: none !important;
}

.wpcf7-not-valid {
    border: solid 2px #333 !important;
    padding: 8px !important;
}


/* BLOG PAGE */

#blognav{
       margin-bottom:0;
       z-index:0;
       position:static;
    }

#minirow{
    background-color:#8d9a90;
    background-image:url('../img/bbb.png');
    background-repeat:repeat-x;
    height:50px;
    width:100vw;
}

#minirowcontainer {
    margin:0;
}

.bloglink{
    line-height:50px;
    font-family:'Playfair Display', serif;
    font-size:10px;
    letter-spacing:1px;
    margin-left: -40px;
    color:gray;
}

#postPic{
    background-image:url('..app/assets/images/sparkler.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:550px;
    height:500px;
}


}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a{
        color:#d7c8a1 !important;
        text-decoration: none;
    }

    a,
    a:visited {
        color:#d7c8a1 !important;
        text-decoration: none;
    }

    a:hover{
        color:#d7c8a1;
        text-decoration:none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
